<div class="jumbotron">

  <div class="container">
    <div class="row">

      <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Add Video</h2>
        <form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="videoname">Video Name:</label>
            <input type="text" formControlName="VideoName" placeholder="Video Name" name="videoname"
              class="form-control" id="videoname">
          </div>
          <div class="form-group">
            <label for="videolink">Video Link:</label>
            <input type="text" formControlName="VideoLink" placeholder="Video Link(Just Add Id of youtube video)" name="videolink"
              class="form-control" id="videolink">
          </div>
          <div class="form-group">
            <label for="channelname">Channel Name:</label>
            <!-- <input type="text" formControlName="ChannelName" placeholder="Channel Name" name="channelname"
              class="form-control" id="channelname"> -->
            <select class="form-control" id="channelname" formControlName="ChannelName" (change)="onChange($event)">
              <option *ngFor="let channel of channels" [value]="channel.ChannelId">{{channel.ChannelName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" formControlName="Description" placeholder="Description" name="description"
              class="form-control" id="description">
          </div>

          <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" formControlName="Category" placeholder="Category" name="category" class="form-control"
              id="category">
          </div>
          <button class="btn btn btn-sm  btn-success" >Save</button>

        </form>
      </div>
    </div>
  </div>
</div>